body {
  color: aliceblue;
  background-color: #333;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 100%;
}

.mainHeader {
  margin-top: 50px;
}

.weatherSection {
  margin-top: 5px;
}

.climaLarge {
  font-size: 30em;
  margin-top: -100px;
  margin-bottom: -135px;
}

footer {
  padding: 50px 0px;
}

.contact,
.credits {
  margin-top: 10px;
  text-align: center;
  font-size: 1.25em;
}

.climaLogo {
  font-size: 1.5em !important;
}

.contact a,
.credits a {
  text-decoration: none !important;
  color: #fff;
}

.credits img {
  max-height: 40px;
  color: #fff;
}


/* Used for current view of forecast */

#currentConditionIcon {
  margin-top: -50px;
}

#currentConditionText {
  margin-top: 10px;
}

.textLarge {
  font-size: 12em;
}

.textMedium {
  font-size: 4em;
}

.textSmall {
  font-size: 1.60em;
  margin-top: 6px;
  margin-bottom: 6px;
}

.extraInfo {
  border-top: 2px solid rgba(240, 248, 255, 0.375);
}


/* for testing without API */
