body {
  color: aliceblue;
  background-color: #333;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 100%;
}

.mainHeader {
  font-size: 5em;
}

.weatherSection {
  margin-top: 5px;
}

#temp {
  margin-top: -60px;
}

.info,
.credits {
  margin-top: 10px;
  text-align: center;
  font-size: 1.25em;
}

.climaLogo {
  font-size: 1.5em !important;
}

.info a,
.credits a {
  text-decoration: none !important;
  color: #fff;
}

.credits img {
  max-height: 40px;
  color: #fff;
}


/* Used for current view of forecast */

#conditionText {
  font-size: 4em;
  margin-top: 10px;
}

.climaLarge {
  font-size: 20em;
}

.textLarge {
  font-size: 12em;
}

.textMedium {
  font-size: 1.60em;
  margin-bottom: 6px;
}

.extraInfo {
  border-top: 2px solid rgba(240, 248, 255, 0.375);
  padding-top: 30px;
}


/* for testing without API */
